@page "/customers/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title"> Create New Customer</h3>
<hr />
<br />

<EditForm Model="@customer" OnValidSubmit="CreateCustomer">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class=" form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="@customer.Name" class="form-control" />
			<ValidationMessage For="@(() => customer.Name)" />
		</div>

		<label>Contact: </label>
		<div>
			<InputText @bind-Value="@customer.Contact" class="form-control" />
			<ValidationMessage For="@(() => customer.Contact)" />
		</div>

		<label>Email Address: </label>
		<div>
			<InputText @bind-Value="@customer.EmailAddress" class="form-control" />
			<ValidationMessage For="@(() => customer.EmailAddress)" />
		</div>
	</div>

	<button type="submit" class="btn btn-success btn-block">
		Create Customer
	</button>
</EditForm>

@code
{
	Customer customer = new Customer();

	private async Task CreateCustomer()
	{
		await _client.PostAsJsonAsync(Endpoints.CustomersEndpoint, customer);
		_navManager.NavigateTo("/customers/");
	}

}
