@page "/staffs/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title"> Create New Staff</h3>
<hr />
<br />

<EditForm Model="@staff" OnValidSubmit="CreateStaff">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class=" form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="@staff.Name" class="form-control" />
			<ValidationMessage For="@(() => staff.Name)" />
		</div>

		<label>Contact: </label>
		<div>
			<InputText @bind-Value="@staff.Contact" class="form-control" />
			<ValidationMessage For="@(() => staff.Contact)" />
		</div>

		<label>Email Address: </label>
		<div>
			<InputText @bind-Value="@staff.StaffEmail" class="form-control" />
			<ValidationMessage For="@(() => staff.StaffEmail)" />
		</div>
	</div>

	<button type="submit" class="btn btn-success btn-block">
		Create Staff
	</button>
	<BackToList Target="staffs" />
</EditForm>

@code
{
	Staff staff = new Staff();

	private async Task CreateStaff()
	{
		await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
		_navManager.NavigateTo("/staffs/");
	}

}
